<div class="container flex-column align-items-end">
    <footer class="d-flex flex-wrap justify-content-md-between align-items-center my-4">
        <p class="col-12 col-md-4 mb-0 text-muted justify-content-center align-items-center text-center text-md-start order-md-0">
            A project by <a href="https://syfaro.net" class="text-decoration-none">Syfaro</a>
        </p>

        <div class="col-12 col-md-4 d-flex align-items-center justify-content-center justify-content-md-center mb-md-0 me-md-auto text-decoration-none order-md-1 order-last">
            <a href="https://syfaro.net">
                <img src="https://owo.fuzzysearch.net/static/img/footer@1x.png"
                    srcset="https://owo.fuzzysearch.net/static/img/footer@1x.png 1x, https://owo.fuzzysearch.net/static/img/footer@2x.png 2x"
                    title="Artwork by bargain bin beasts / @viiverrids" alt="">
            </a>
        </div>

        <ul class="col-12 col-md-4 nav justify-content-md-end justify-content-center order-md-2 mb-3 mb-md-0">
            <li class="nav-item">
                <a class="nav-link px-2 text-muted" href="https://fuzzysearch.net">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link px-2 text-muted" href="https://foxbot-feedback.syfaro.com">Feedback</a>
            </li>
        </ul>
    </footer>
</div>
